:root {
  --teal: #00ffd5;
  --purple: #5100ff;
}
body {
  background-color: var(--purple);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 900;
}
#app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slogan {
  color: var(--teal);
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}
.container {
  width: 100%;
  max-width: 1400px;
  padding: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 2.2rem;
  text-transform: uppercase;
}
.logo {
  max-width: 80vw;
}
.avatar {
  width: 300px;
}
p {
  text-align: center;
}
.footer {
  bottom: 0;
  padding: 50px;
}
/* CSS */
.button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 20px 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
.icon {
  width: 30px;
}

.button-style:disabled {
  cursor: default;
}

.button-style:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

@media (max-width: 600px) {
  .slogan {
    font-size: 1.5rem;
  }
}
